.ShopCard {
     position: relative;
     width: 280px;
     height: 300px;
     margin: 15px;
     border-radius: var(--bdRd);
     background-color: var(--card);
     box-shadow: 5px 5px 20px -10px black;
}
.ShopCardLogo {
     position: absolute;
     height: 120px;
     width: 120px;
     top: 25px;
     left: 80px;
}
.ShopName {
     position: absolute;
     margin: 0;
     bottom: 92px;
     right: 25px;
     width: 200px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     font-size: var(--subT);
     font-family: var(--interFont);
     font-weight: 500;
     color: var(--txtColor);
}
.OrderBtn {
     position: absolute;
     height: var(--btnSize);
     line-height: var(--btnSize);
     width: 230px;
     right: 25px;
     bottom: 25px;
     border: none;
     background: #1BA94C;
     border-radius: var(--bdRd);
     color: var(--txtColor);
     letter-spacing: 2px;
     font-family: var(--overpassFont);
     font-style: normal;
     font-weight: 500;
     font-size: var(--bodyTxt);
}