.Menu {
     position: relative;
     width: 930px;
     padding-top: 120px;
     padding-bottom: 30px;
     margin: 90px auto 30px auto;
     border-radius: var(--bdRd);
     background-color: var(--secColor);
     box-shadow: 5px 5px 20px -10px black;
}
.MenuShopName {
     position: absolute;
     font-size: var(--title);
     left: 120px;
     top: 43px;
     margin: 0;
     font-weight: 500;
     font-family: var(--interFont);
     font-style: normal;
     color: var(--txtColor);
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
.MenuShopLogo {
     position: absolute;
     top: 30px;
     left: 30px;
     width: 60px;
}
.back {
     position: absolute;
     top: 40px;
     right: 45px;
     cursor: pointer;
}

@media (max-width: 450px) {
     .Menu {
          width: 96%;
          padding: 120px 0 30px 0;
     }
     .MenuShopLogo {
          top: 20px;
          left: 20px;
     }
     .MenuShopName {
          top: 30px;
          left: 100px;
          width: 200px;
     }
     .back {
          top: 30px;
          right: 20px;
          width: 35px;
          height: 35px;
     }
}