.Navbar {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 2;
     width: 100%;
     height: 60px;
     display: flex;
     margin: 0;
     background: var(--secColor);
     box-shadow: 5px 5px 30px -20px black;
}
.left, .center, .right {
     flex: 1;
}
.right {
     display: flex;
     justify-content: center;
}
.nav {
     display: flex;
     justify-content: space-around;
     list-style: none;
     padding: 0;
     margin: 0;
}
.nav-link {
     position: relative;
     color: grey;
     font-size: 16px;
     font-weight: 400;
     font-family: 'Poppins', sans-serif;
     letter-spacing: 1px;
     text-decoration: none;
     height: 36px;
     width: 80px;
     text-align: center;
     margin: 12px 0px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     transition: all .3s ease;
}
.nav-link:hover {
     color: rgb(230, 230, 230);
}
.active-nav-link {
     color: white;
     font-weight: 500;
     border-bottom: 2px solid var(--btnColor);
}
.cartWithQuant {
     position: absolute;
     top: -5px;
     left: 15px;
     width: 1.5em;
     height: 1.5em;
     border-radius: 50%;
     display: flex;
     flex-direction: column;
     text-align: center;
     justify-content: center;
     background-color: var(--btnColor);
     color: var(--txtColor);
     font-family: var(--overpassFont);
     font-weight: 600;
}